.profile-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
     background: #2E2336;
        background: linear-gradient(0deg, rgba(46, 35, 54, 1) 0%, rgba(30, 31, 31, 1) 100%);
}
.profile-container .profile-content{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.profile-container .profile-content .profile-info{
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-container .profile-content .profile-info h1{
    font-size:1em;
    color: #F0EBD8;;
}
.profile-container .profile-content .profile-info h2{
     font-size: 0.6em;
    color: #F0EBD8;
    margin-bottom: 5px;
    margin-top: -15px;
    font-weight: 200;
    opacity: 0.8;
}
.profile-container .profile-content .profile-info .subtitle{
    font-size: 0.6em;
    color: #F0EBD8;
    margin-bottom: 5px;
}
.profile-container .profile-content .profile-info p{
    font-size: 0.56em;
    font-weight: 200;
    color: #F0EBD8;
    opacity: 0.8;
    text-align: center;
    margin: 0;
    
}
.profile-container .profile-content .profile-applications{
    margin-top: 20px;
    width: 100%;
    flex: 1;
    overflow: hidden;
  

  
    font-size: 25px;
}
.profile-container .profile-content .profile-applications .profile-applications-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    
}
.profile-container .profile-content .profile-applications .profile-applications-title h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.profile-container .profile-content .profile-applications .profile-applications-title .select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 10px;
    bottom: -350%;
    padding: 15px 15px;
    right: 0;
    font-size: 25px;
    background-color: #2e2336;
    border-radius: 15px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s ease-in-out;
}
.profile-container .profile-content .profile-applications .profile-applications-title .select.grow{
   transform: scaleY(1);

}
.profile-container .profile-content .profile-applications .profile-applications-title .select .option{
    font-size: 0.65em;
    font-family: 'Ubuntu', sans-serif;
    color: #F0EBD8;
    width: 100%;
    text-align: center;
}
.profile-container .profile-content .profile-applications h1{
    font-size: 0.6em;
    color: #F0EBD8;
    font-family: 'Ubuntu', sans-serif;
  

    align-self: flex-start;
}
.profile-container .profile-content .profile-applications h1 img{
    width: 20px;
    height: 20px;
}
.profile-container .profile-content .profile-applications .profile-applications-list{
    width: 100%;
    height: 90%;
     overflow-y:scroll;
     display: flex;
     flex-direction: column;
     gap: 20px;
      padding-bottom: 90px; 
      box-sizing: border-box;
}
.profile-container .profile-content .profile-applications .profile-applications-list::-webkit-scrollbar {
    display: none; 
}
.profile-container .profile-content .profile-applications .profile-applications-list .application-card:first-child{
    margin-top: 10px;
}
.profile-container .profile-content .profile-applications .profile-applications-list .application-card{
    width: 100%;
    background-color: #3e3e3f;;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.profile-container .profile-content .profile-applications .profile-applications-list .application-card .application-basic-info{
    width: 90%;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    margin-top: 10px;
}
.profile-container .profile-content .profile-applications .profile-applications-list .application-card .application-basic-info .no-response{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.profile-container .profile-content .profile-applications .profile-applications-list .application-card .application-basic-info .no-response h1{
  font-size: 1.5em;
}
.profile-container .profile-content .profile-applications .profile-applications-list .application-card .application-basic-info .no-response img{
    width: 120px;
    height: 120px;
}
.profile-container .profile-content .profile-applications .profile-applications-list .application-card .application-basic-info .company-position-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.profile-container .profile-content .profile-applications .profile-applications-list .application-card .application-basic-info h1{
    font-size: 0.6em;
}
.profile-container .profile-content .profile-applications .profile-applications-list .application-card .application-basic-info h1.cover-letter-title{
    color: #F0EBD8;
    font-size: 0.6em;
    font-weight: 400;
    margin-bottom: 0;
}
.profile-container .profile-content .profile-applications .profile-applications-list .application-card .application-basic-info h1.response{
    color: #F0EBD8;
    font-size: 0.6em;
    font-weight: 400;
    margin-bottom: 0;
}
.profile-container .profile-content .profile-applications .profile-applications-list .application-card .application-basic-info h2{
    color: #F0EBD8;
    font-size: 0.9em;
}
.profile-container .profile-content .profile-applications 
.profile-applications-list .application-card .application-basic-info img{
    width: 60px;
    height: 60px;
}
.profile-container .profile-content .profile-applications 
.profile-applications-list .application-card .application-details{
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}
.profile-container .profile-content .profile-applications 
.profile-applications-list .application-card .application-details h1{
    color: #F0EBD8;
    font-size: 0.6em;
    font-weight: 400;
    margin-bottom: 0;
}
.profile-container .profile-content .profile-applications 
.profile-applications-list .application-card .application-basic-info p{
    font-size: 0.6em;
    color: #f0ebd87c;
    font-weight: 200;
   margin: 0;
   margin-top: 5px;
    white-space: pre-line;
}
.profile-container .profile-content .profile-applications 
.profile-applications-list .application-card .application-details .application-details-status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     align-items: center; 
    width: 100%;
    margin-bottom: 15px;
}
.profile-container .profile-content .profile-applications 
.profile-applications-list .application-card .application-details .application-details-status .status{
    padding:10px 13px;
    color: #F0EBD8;
    background-color: #6e3e91;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 50px;
    border: none;

}
.profile-container .profile-content .profile-applications 
.profile-applications-list .application-card .application-details .application-details-status .status img{
    width: 20px;
    height: 20px;
}
.profile-container .profile-content .profile-applications 
.profile-applications-list .application-card .application-details .application-details-status .status h3{
    font-size: 0.5em;
    margin: 0;
   
}
.profile-container .profile-content .profile-applications 
.profile-applications-list .application-card .application-details p.date{
    font-size: 0.7em;
    color: #6e3e91;
    font-family: 'Ubuntu', sans-serif;
}
@media only screen and (min-width:1025px){
    .profile-container{
        width:100%;
        height: calc(100% - 80px);
        border-bottom-left-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
       

    }
    .profile-container .profile-content .profile-applications .profile-applications-list{
        flex-direction: row;
        flex-wrap: wrap;
        
      
    }
   
}
@media only screen and (min-width:1124px) and (max-width:1500px){
    .profile-container .profile-content .profile-applications .profile-applications-list .application-card{
        width: 48%;
    }
}
@media only screen and (min-width:1501px){
    .profile-container .profile-content .profile-applications .profile-applications-list .application-card{
        width: 32%;
    }
}