.dynamic-nav{
    width: 65%;
    height: 50px;
    
    position: absolute;
    bottom:20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    border-radius: 30px;
    background-color: #1e1f1f49;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.74);
    backdrop-filter: blur(3.7px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dynamic-nav .dynamic-nav-wrapper{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.dynamic-nav .dynamic-nav-wrapper div p{
    display: none;
}
.dynamic-nav .dynamic-nav-wrapper .logo{
    display: none;
}
.dynamic-nav .dynamic-nav-wrapper input{
    display: none;
}
.dynamic-nav .dynamic-nav-wrapper img{
    width: 25px;
    height: 25px;
}
.dynamic-nav .dynamic-nav-wrapper .filters, .dynamic-nav .dynamic-nav-wrapper .search{
    display: none;
}
@media only screen and (min-width:1025px){
    .dynamic-nav{
          background-color: #1e1f1f;
           box-shadow: none;
        width: 20%;
        height: 100%;
        position: relative;
        bottom:0px;
        left: 0;
        transform: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
       
    }
    .dynamic-nav .dynamic-nav-wrapper{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 80%;
    }
    .dynamic-nav .dynamic-nav-wrapper .search{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        gap: 10px;
    }
    .dynamic-nav .dynamic-nav-wrapper .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 25px;

    }
    .dynamic-nav .dynamic-nav-wrapper .logo h1{
        font-size: 0.8em;
        color: #F0EBD8;
        font-family: 'Ubuntu', sans-serif;
    }
    .dynamic-nav .dynamic-nav-wrapper .logo img{
        width: 30px;
        height: 30px;
    }
    .dynamic-nav .dynamic-nav-wrapper input{
        display: flex;
        width: 100%;
        border-radius: 50px;
        background-color: #3e3e3f;
        color: #F0EBD8;
        border: 1px solid #3e3e3f;
        outline: none;
        font-size: 0.8em;
          text-indent: 10px;
         font-family: 'Ubuntu', sans-serif;
    }
    .dynamic-nav .dynamic-nav-wrapper input::placeholder{
        color:#F0EBD8;
        text-indent: 10px;
        font-family: 'Ubuntu', sans-serif;
        
    }
    .dynamic-nav .dynamic-nav-wrapper .tab{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 25px;
    }
    .dynamic-nav .dynamic-nav-wrapper a{
        text-decoration: none;
    }
    .dynamic-nav .dynamic-nav-wrapper .tab p{
        display: block;
        font-size: 0.8em;
        color: #F0EBD8;
    }   
  
}